@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    /* background-color: #E4E5E6; */
background-color: white;

}

.navbar,.navright,.social{
    /* background-color:black; */
    display:flex;
    position: relative;
    
}

.navbar ul{
    overflow: hidden;
   margin-left:180px;
}   

.navbar ul li {
    list-style: none;
    margin: 27px 20px;
    padding: 4px;
}
    

.navbar ul li a {
    color:grey;
    text-decoration: none;
    transition: all 0.4s ease;
}
.navbar ul li a:hover{
    color:black;
   
}
.navbar .logo a {
    text-decoration: none;
    color:black;
    font-size:33px;
}
.navbar .logo  {
    margin: 13px 20px;
}
.navbar .social{
     margin-top: 6px;
    padding: 11px;
    margin-left: 150px;
    
}
.navbar a{
    text-decoration: none;
    color:black;
}
.btn1{
    background: transparent;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px 18px;
    text-decoration: none;
    color: black;
    margin-top: 5px;
    display: inline-block;
    transition: all 0.4s ease;
}
.btn1:hover{
    
    color:white;
    border: 1px solid black;
    background-color:black;
    cursor: pointer;
    transition: all 0.4s ease;
}
.info{
    margin-left: 5%;
    margin-top: 10%;
}
.info h1{
    font-size: 45px;
    color: #444242;
    margin-bottom: 10px;
}
.info h2{font-size:30px;
    margin-bottom: 10px;}

.info h1 span{
    font-size:60px;
    color: black;
    position: relative;
   

}


.info p{
    color: #606163;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
    visibility: hidden;
}

.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
    
}
.img-box img{
    height: 65%;
    position: absolute;
    left: 68%;
    border: 2px solid white;
    bottom: 49px;
    margin-bottom: 123px;
    border-radius: 6%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    /* box-shadow: rgb(204 219 232) 3px 3px 6px 0px inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset; */
}
#fb,#insta,#git,#li,#twi{
    display:inline-block;
    position: relative;
    justify-content: center;
    text-decoration: none;
    margin-top:155px;
    margin-left:20px;
    color:grey;
    padding: 5px;
    font-size:30px;
}
.topnav{display:none;}
.active{
    color:black;
}
#fb{
    margin-left: 500px;
}
#fb:hover{color:black;}
#twi:hover{color:black;}
#git:hover{color:black;}
#insta:hover{color:black;}
#li:hover{color:black;}


    .btn2{
        background: transparent;
    border-radius: 5px;
    padding: 10px 18px;
    text-decoration: none;
    color: black;
    display: inline-block;
    border: 1px solid black;
    margin-left: 90px;
    transition: all 0.4s ease;}
    .btn2:hover{
    background: black;
    color: white;
    border: 1px solid white;
}
.h5{
    display:flex;
    align-items: center;
}


#spin {
    color:black;
  }
  #spin:after {
    content:"";
    animation: spin 20s linear infinite;
  }
  @keyframes spin {
    10% { content:"Electrical and Electronics Engineer"; }
    30% { content:"Front-End Web Developer"; }
    50% { content:"Tech Enthusiast"; }
    70% { content: "Continuous Learner"; }
    90% { content: "Explorer"; }
   
  }
/* MOBILE  */
@media only screen and (max-width: 720px) and (min-width:200px) 
{

.navbar{display:none;}


  
  .topnav {
      display:block;
    overflow: hidden;
    background-color:white;
    position: relative;
    top: -686px;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: grey;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }
  
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 2px;
    top: 0;
  }
  
  .topnav a:hover {
    background-color:white;
    color:black;
  }
  #fb{display:none;}
  .active {
    background-color: white;
    color: black;
  }
.social{display:none;}

.info h1 span {
    font-size: 20px;
    color: black;
    margin-top: 89px;
    position: relative;
}
.info h1{
    font-size: 20px;
    margin-top: 87px;
    margin-left: 54px;
}

.info h2{font-size:15px;
margin-left:20px}

.info h6{display:none;}

.links{
    padding: 44px;
    margin-top: -157px
}

#twi:hover{color:black;}
#git:hover{color:black;}
#insta:hover{color:black;}
#li:hover{color:black;}


.btn1 {
    margin-left: 75px;
    margin-top: 371px;
}
.btn1:hover{
    color:white;
    background-color:black;
}
.img-box img {height: 50%;
    margin-left: -23px;
  
    margin-bottom: 108px;
   }


.box{display:contents;}




}



 